---
WarningsAsErrors: '*'
HeaderFilterRegex: '.*include/pisa.*\.hpp'
FormatStyle: none
Checks: |
    -*,
    hicpp-use-auto,
    hicpp-move-const-arg,
    hicpp-deprecated-headers,
    hicpp-explicit-conversions,
    readability-braces-around-statements,
    readability-else-after-return,
    readability-implicit-bool-conversion,
    readability-uppercase-literal-suffix,
    modernize-loop-convert,
    modernize-use-equals-default,
    modernize-use-using,
    cppcoreguidelines-special-member-functions,
    -hicpp-signed-bitwise,
    -modernize-use-trailing-return-type,
    -fuchsia-overloaded-operator,
    -fuchsia-default-arguments-calls,
    -fuchsia-trailing-return,
    -llvm-header-guard
