**/.DS_Store

build*/
data/
debug/
pisa_config.hpp

# Python junk
*.pyc

# Java junk
.classpath
.project
*.jar
.settings
target/

# CMake junk
CMakeCache.txt
CMakeFiles/
Testing/

docs/_build/

node_modules

.clangd/

# Latex in documentation
*.aux
*.log
docs/**/*.pdf

.cache
.github
.git

Dockerfile
test/**/Dockerfile

**/__pycache__
**/.pytest_cache
**/.venv
**/dist
dev

**/external/Catch2/scripts/
**/external/Catch2/projects/
**/external/Catch2/misc/
