[submodule "external/FastPFor"]
	path = external/FastPFor
	url = https://github.com/lemire/FastPFor.git
[submodule "external/stxxl"]
	path = external/stxxl
	url = https://github.com/stxxl/stxxl.git
[submodule "external/CMake-codecov"]
	path = external/CMake-codecov
	url = https://github.com/RWTH-HPC/CMake-codecov.git
[submodule "external/streamvbyte"]
	path = external/streamvbyte
	url = https://github.com/lemire/streamvbyte
[submodule "external/MaskedVByte"]
	path = external/MaskedVByte
	url = https://github.com/lemire/MaskedVByte
[submodule "external/QMX"]
	path = external/QMX
	url = https://github.com/amallia/QMX.git
[submodule "external/simdcomp"]
	path = external/simdcomp
	url = https://github.com/lemire/simdcomp.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/parallelstl"]
	path = external/parallelstl
	url = https://github.com/intel/parallelstl.git
[submodule "external/tbb"]
	path = external/tbb
	url = https://github.com/01org/tbb.git
