[submodule "external/FastPFor"]
	path = external/FastPFor
	url = https://github.com/lemire/FastPFor.git
[submodule "external/stxxl"]
	path = external/stxxl
	url = https://github.com/stxxl/stxxl.git
[submodule "external/succinct"]
	path = external/succinct
	url = https://github.com/ot/succinct.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/CMake-codecov"]
	path = external/CMake-codecov
	url = https://github.com/RWTH-HPC/CMake-codecov.git
