sudo: require
language: cpp
dist: trusty

branches:
  only:
    - master

env:
  global:
    - DEPS_DIR=${TRAVIS_BUILD_DIR}/deps
    - CODECOV_TOKEN="e3f86b6b-0770-4816-9b7d-19b0c550229f"


cache:
  directories:
    - ${DEPS_DIR}


matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - lcov
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7 && COVERAGE=On"
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
            - lcov
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8 && COVERAGE=Off"
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-6.0
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - llvm-6.0
            - clang-6.0
      env:
        - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"
    - os: osx
      compiler: clang
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++ && COVERAGE=Off"

# Install dependencies
before_install:
  - eval "${MATRIX_EVAL}"
  
script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_BUILD_TYPE=Debug -DENABLE_COVERAGE=${COVERAGE} ${CMAKE_OPTIONS} ..
    - make
    - ctest

after_success:
  - bash <(curl -s https://codecov.io/bash)
