name: CLI Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        name: [linux-gcc-9]
        include:
          - name: linux-gcc-9
            os: ubuntu-latest
            compiler: "gcc"
            version: "9"

    steps:
    - uses: actions/checkout@v2

    - name: Install (Linux)
      if: runner.os == 'Linux'
      shell: bash
      run: |
          # Install compiler

          cc="${{ matrix.compiler }}-${{ matrix.version }}"
          cc="${cc%-}"
          cxx="${cc/clang/clang++}"
          cxx="${cxx/gcc/g++}"

          sudo apt-get update
          sudo apt-get install -y libtool m4 autoconf
          if [ "${{ matrix.compiler }}" = "gcc" ]; then
              sudo apt-get install -y "${cxx}"
          else
              sudo apt-get install -y "${cc}"
          fi
          echo "::set-env name=CC::${cc}"
          echo "::set-env name=CXX::${cxx}"

    - name: Create Build Environment
      shell: bash
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: |
          cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Debug \
            -DPISA_ENABLE_BENCHMARKING=OFF \
            -DPISA_ENABLE_TESTING=OFF \
            -DPISA_BUILD_TOOLS=ON ..

    - name: Build
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake --build . --config Debug -- -j 4

    - name: Test CLI
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: |
          ls ../
          ls ../test
          ls ../test/cli
          bash ../test/cli/run.sh
