name: Code coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install codecov and lcov
      shell: bash
      run: |
          echo "::set-env name=CC::gcc-7"
          echo "::set-env name=CXX::g++-7"
          python -u -m pip install codecov
          sudo apt-get install -y lcov
    - name: Create Build Environment
      shell: bash
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Debug -DPISA_BUILD_TOOLS=OFF -DENABLE_COVERAGE=ON ..

    - name: Build
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake --build . --config Debug -- -j 4

    - name: Test
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: ctest -j 4

    - name: Upload results
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: |
          lcov --capture --directory . --output-file coverage.info
          lcov --remove coverage.info '/usr/*' --output-file coverage.info # filter system-files
          lcov --remove coverage.info '**/external/*' --output-file coverage.info # filter external folder
          lcov --remove coverage.info '**/test/*' --output-file coverage.info # filter tests
          lcov --list coverage.info # debug info
          python -m codecov -t ${{ secrets.CODECOV_TOKEN }} -f coverage.info
