name: clang-format

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Install clang-format
      shell: bash
      run: |
          sudo apt-get install -y clang-format-9

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Run clang-format
      shell: bash
      run: |
        wget https://raw.githubusercontent.com/Sarcasm/run-clang-format/master/run-clang-format.py
        python run-clang-format.py \
            --clang-format-executable clang-format-9 \
            -r src/**/*.cpp include/pisa/**/*.hpp tools/*.cpp tools/*.hpp test/*.cpp
